<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <meta name="keywords" content="关键字">
    <meta name='description' content="描述">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/index.css">
    <script src="./js/vue-2.4.0.js"></script>
</head>

<body>
    <div id="app" class="container">
        <div class="header">
            <div class="w">
                <div class="left">
                    <h1><a href=""><img :src="img_arr[0]" alt=""></a></h1>
                    <ul>
                        <li v-for='n in header_data'><a href="#">{{n}}</a></li>
                    </ul>
                    <span>APP下载</span>
                </div>
                <div class="right">
                    <div>
                        <input type="text">
                        <img :src="img_arr[1]" alt="">
                    </div>
                    <img :src="img_arr[2]" alt="">
                    <img :src="img_arr[3]" alt="">
                    <a v-on:click.prevent href="#">登录</a>
                    <a v-on:click.prevent href="#">注册</a>
                </div>
            </div>
        </div>
        <div class="banner">
            <div class="w">
                <div class="nav">

                    <ul>
                        <li v-for='(n,i) in nav'>
                            <h3>{{n.name}}</h3>
                            <ol>
                                <li v-for='j in nav[i].content'>
                                    <a @click.privent href="">{{j}}</a>
                                </li>
                            </ol>
                        </li>
                    </ul>

                </div>
                <div class="right">
                    <div @mouseenter="clearTimer()" @mouseleave="setTimer()" class="banner-box">
                        <!-- banner图片-->
                        <ul class="banner-img">
                            <li v-for='(n,i) in banner_img'><img :src="n" alt=""></li>
                        </ul>
                        <ul class="circle">
                            <li @click='changeBanner(0,i)' v-for='(n,i) in 6'></li>

                        </ul>
                        <a @click.prevent="nextBanner(1)" href='#' class="left-ico">&lt</a>
                        <a @click.prevent="nextBanner(2)" href='#' class="right-ico">&gt</a>
                    </div>
                    <ul class="descript">
                        <li v-for='n in banner_descript'><img :src="n" alt=""></li>
                    </ul>

                </div>
            </div>
        </div>

        <div class="hot-live">
            <div class="w clearfix">
                <div class="title">
                    <h2>热门直播</h2>
                    <a @click.prevent href="#">更多<i>+</i></a>
                </div>
                <div class="left">
                    <ul>
                        <!-- v-for='n in hot_live' -->
                        <li>
                            <img :src="hot_live[current_live].src" alt="">
                            <h3>{{hot_live[current_live].content}}</h3>
                            <div class="btn">
                                <img src="./img/ujyx_18.gif" alt="">
                                <p>{{hot_live[current_live].flag}}</p>
                            </div>
                        </li>

                    </ul>
                </div>
                <ul class="right">
                    <li v-for='(n,i) in hot_live' @mouseenter='changeLive(i)'>
                        <img :src="n.flag_src" alt="">
                        <h3>{{n.alert}}</h3>
                        <p>{{n.content}}</p>
                    </li>
                </ul>
            </div>
        </div>

        <div v-for='(z,index) in 3' class="boutique">
            <div class="w clearfix">
                <div class="title">
                    <div>
                        <h2>精品网课</h2>
                        <ul>

                            <li v-if='index==0' v-for='(j,i) in boutique_title[index]'><a
                                    @click.prevent='changeBoutique(i,index)' href="">{{j}}</a></li>
                            <li v-if='index==1' v-for='(j,i) in boutique_title[index]'><a
                                    @click.prevent='changeBoutique(i,index)' href="">{{j}}</a></li>
                            <li v-if='index==2' v-for='(j,i) in boutique_title[index]'><a
                                    @click.prevent='changeBoutique(i,index)' href="">{{j}}</a></li>

                        </ul>
                    </div>
                    <a @click.prevent href="#">更多<i>+</i></a>
                </div>
                <div class="content">
                    <ul>
                        <li v-if='index==0' v-for='(n,i) in boutique_content1[current_boutique1]'>
                            <a @click.prevent href="">
                                <img :src="boutique_content1[current_boutique1][i].src" alt="">
                                <h4>{{boutique_content1[current_boutique1][i].title}}</h4>
                                <p>
                                    <b><i>¥</i>{{boutique_content1[current_boutique1][i].price}}</b>
                                    <span>{{boutique_content1[current_boutique1][i].case}}</span>
                                </p>
                            </a>
                        </li>
                        <li v-if='index==1' v-for='(n,i) in boutique_content2[current_boutique2]'>
                            <a @click.prevent href="">
                                <img :src="boutique_content2[current_boutique2][i].src" alt="">
                                <h4>{{boutique_content2[current_boutique2][i].title}}</h4>
                                <p>
                                    <b><i>¥</i>{{boutique_content2[current_boutique2][i].price}}</b>
                                    <span>{{boutique_content2[current_boutique2][i].case}}</span>
                                </p>
                            </a>
                        </li>
                        <li v-if='index==2' v-for='(n,i) in boutique_content3[current_boutique3]'>
                            <a @click.prevent href="">
                                <img :src="boutique_content3[current_boutique3][i].src" alt="">
                                <h4>{{boutique_content3[current_boutique3][i].title}}</h4>
                                <p>
                                    <b><i>¥</i>{{boutique_content3[current_boutique3][i].price}}</b>
                                    <span>{{boutique_content3[current_boutique3][i].case}}</span>
                                </p>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="platform">
            <div class="w">
                <p class="title">
                    支持电脑、手机、PAD多平台学习
                </p>
                <ul class="descript">
                    <li v-for='n in platform_descript'>
                        <img :src="n.img" alt="">
                        <div>
                            <h4>{{n.title}}</h4>
                            <p>{{n.content}}</p>
                        </div>
                    </li>
                </ul>
                <a @click.prevent href="">
                    <img src="./img/ujyx_12.jpg" alt="">
                    <div>
                        <img src="./img/ujyx_26.jpg" alt="">
                        <div>
                            <p>扫描二维码</p>
                            <p>下载应用</p>
                        </div>
                    </div>
                </a>

            </div>

        </div>

        <div class="firend-link">
            <div class="w">
                <ul class="title clearfix">
                    <li v-for='(n,i) in firend_link' :class="{'active':i==0}"><a @click.prevent='changeLink(i)' href="">{{n.name}}</a></li>
                </ul>
                <ul class="content clearfix">
                    <li v-for='n in firend_link[current_link_title].link'><a @click.prevent href="">{{n}}</a></li>
                </ul>
            </div>
        </div>


        <div class="footer">
            <ul class="clearfix">
                <li v-for='n in footer_data'>{{n}}</li>
            </ul>
            <p>{{footer_copyright}}
            </p>
        </div>
    </div>
    <script src="./js/common.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>